.authorization {
  width: 410px;
  padding: 48px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

  &__icon {
    width: 100px;
    height: 100px;
    margin: 0 0 48px;
  }

  &__input {
    text-align: left;
    margin: 0 0 36px;
  }

  &__title {
    @include h18;
    color: $text-main;
    margin: 0 0 15px;
  }

  &__desc {
    @include b12;
    color: $grey400;
    margin: 0 0 36px;
  }

  &__btn {
    width: 100%;
  }

  &__policy {
    @include b10;
    margin: 16px 0 0 ;
    padding: 0 24px;
    color: $grey400;
  }

  &__policy-link {
    color: $primary;
  }
}
